.new {
    width: 100%;
    display: flex;

    .newContainer {
        flex: 6;


        h1 {
            color: #7B2CBF;
            font-size: 300%;
            text-align: center;
            font-weight: bold;
            margin-top: 20px;
        }

        button {
            font-size: 2em;
            background-color: #FFFFFF;
            place-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            width: 30%;
            border-radius: 3px;
            margin-left: 18px;
            margin-top: 7px;
            color: #240046;
            border: 2px solid #EBEBEB;
            padding: 10px 20px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            font-size: 100;
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                background: #4895EF;
                color: #fff;
            }

        }

    }
}