.new {
    width: 100%;
    display: flex;
}

.newContainer {
flex: 6;
}

.excel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
}

.right {
  flex: 2;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.formInput {
  width: 40%;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

.newContainer button{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #3A0CA3;
  border-radius: 20px;
  margin-top: 10px;
}

.newContainer button:hover{
  opacity: 0.6;
}
 