.Datatable{
    height: 600px;
    padding: 20px;
   
        .CellWithStatus
    {
        padding: 5px;
        border-radius: 5px;
        font-weight: bolder;
        &.active{
            color: #29F43E;
        }
        &.inactive{
            color: red;
        }
    }
    .CellAction
    {
        display: flex;
        align-items: center;
        gap:18px;
        .ViewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: #3A0CA3;
            background-color: transparent;
            border-color: #3A0CA3;
            cursor: pointer;
        }
        .EditButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: #4CC9F0;
            background-color: transparent;
            border-color: #4CC9F0;
            cursor: pointer;
        }
        .DeleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: #ed4957;
            background-color: white;
            border-color: #ed4957;
            cursor: pointer;
        }
    }

}
.manageUsers-head{
    display: flex;   
}
.text-style{
    font-weight: bold;
    color: #3A0CA3;
    font-size: 30px;
}
.button-modify{
    margin-left:  410px;
    margin-bottom: 30px;
    background-color: #3A0CA3;
    color: white;
    align-items: right;
    border-radius: 10px;
    width: 190px;
    height: 50px;
}