.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 150px;
  
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .title {
        font-weight: bold;
        font-size: 14px;
        color: #7B2CBF;
      }
  
      .counter {
        font-size: 28px;
        font-weight: 300;
      }
  
      .link {
        font-size: 15px;
        color: #888;
      }
  
      .icon {
        font-size: 30px;
        padding: 5px;
        margin-top: auto;
        color: #3A0CA3;
        cursor: pointer;
      }
    }
  }