.main-container-enseignant{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar-enseignant{
  background: #3A0CA3;
  color: #fff;
  height: 100%;
  width: 220px;
  transition: all 0.5s;
  font-size: 10px;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  width: 102px;
  height: 100%;
}
.bars{
  display: flex;
  padding-right: 20px;
  font-size: 25px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover{
  transition: all 0.5s;
}
.active{
  background: white;
  color: #3A0CA3;
}
.icon, .link_text{
  font-size: 20px;
}