:root {

    --box-bg: #FFFFFF;
    --input-bg: #FFFFFF;
    --txt-color: #2f2d2f;
    --txt-second-color: #ccc;
    --border-color: #3A0CA3;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box body {
    font-weight: 400;
    line-height: 1.5;
    color: var(--txt-color);

    display: flex;
    justify-content: center;
    height: 100vh;
}

.box {
    background-color: var(--box-bg);
    padding: 50px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.header {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #3A0CA3;
}