.info{
    display: flex;

    .infoContainer{
        flex: 6;    
        .infoWrapper{
            padding: 20px;
            h4{
                font-weight: 700;
                font-size: 30px;
                color: #7B2CBF;
            }
    
            p{
                font-weight: 500;
                font-size: 20px;
            }

            button{
                background: #3A0CA3;
                border-radius: 20px;
                color: white;
                width: 150px;
                height: 40px;
                margin: 20px;
            }
        }
    }
}