.info{
    display: flex;

    .infoContainer{
        flex: 6;    
        .infoWrapper{
            padding: 20px;
            h4{
                font-weight: 700;
                font-size: 30px;
                color: #7B2CBF;
            }
    
            p{
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}